@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{ background-color: aqua;
      font-family: 'kanit', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: red;
    }

        .row ul li:last-child{
            display: flex;
            background-color: blue;
            padding: 10em;}


        div{
        display: inline-block; width: 49.5%; vertical-align: top;
        }

        /* Breddene er beregnet i procenter (49,5%)
         hvilket er besværligt og alt for præcist
          bare for at passe dem side om side.
           Dette efterlader et lille hul for at kompensere for marginen
            (også angivet i procenter) mellem dem.*/

            .row{
            display: flex;
            padding: 10em;}



            
